
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">id</th>
    <th scope="col" >Country <i (click)="sortBy('name')" [ngClass]="sortclass.name"></i></th>
  
  
    <th scope="col" >Area <i (click)="sortBy('area')" [ngClass]="sortclass.area"></i></th>
    
    <th scope="col">Population <i (click)="sortBy('population')" [ngClass]="sortclass.population"></i></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let country of countryList">
    <td>{{ country.id }}</td>
    <td>
      <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2" style="width: 20px">
      {{ country.name }}
    </td>
    <td>{{ country.area | number}}</td>
    <td>{{ country.population | number }}</td>
  </tr>
  </tbody>
</table>



<div class="d-flex justify-content-between p-2">
  <pagination
   [totalItems]="collectionSize" 
   [(ngModel)]="page"
    (click)="onPageClick()">
  </pagination>

 
</div>


